@import "colors";
@import "typography";

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: $color5;
  color: $color1;
  max-width: 900px;
  margin:40px auto;
  padding: 0 10px;
}

ul, ol {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}
